.posts {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.list {
  padding: var(--margin-default);
  flex-grow: 1;
  overflow-y: auto;
}

.post {
  background: var(--white);
  border: var(--border-default);
  border-radius: var(--border-radius);
  margin-bottom: calc(0.5 * var(--margin-default));
  text-align: left;
}

.header {
  background: var(--grey);
  border-bottom: var(--border-default);
  font-size: 0.9em;
  padding: calc(var(--padding-default) / 2) var(--padding-default);
}

.body {
  padding: var(--padding-default);
}
