@import '~normalize.css/normalize.css';

:root {
  --black: #1d1d1d;
  --white: #ffffff;
  --grey: #e5e5e5;
  --grey-mid: #888;
  --grey-dark: #444;
  --blue: #006aff;
  --red: #aa3333;
  --red-light: #fdcccc;
  --yellow-light: #fff6ca;

  --filters-bg: var(--yellow-light);
  --filters-height: 50px;

  --header-height: 30px;

  --border-radius: 4px;
  --border-default: 1px solid var(--grey);

  --margin-default: 10px;
  --padding-default: 10px;
}

body {
  background: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
